form label {
  display: block;
  width: fit-content;
}

body {
  background-color: #623eb9;
}

.forms-card {
  background-color: transparent;
  perspective: 1000px;

  max-width: 400px;
  margin: 1rem;
}

.inner-container {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

#loginForm,
#signUpForm {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
}

#signUpForm {
  transform: rotateY(180deg);
}
.form-error {
  display: none;
}

.btn{
  background-color: #623eb9;
}
